This survey is being undertaken towards Roman Klapaukh's PhD in the Software Engineering group at Victoria University of 
Wellington. The Victoria University Human Ethics Committee has granted ethics approval for this experiment.  

The survey looks at how people perceive the symmetry of network diagrams. Each question will ask you which of two images 
you consider to be more symmetrical. 

No information about participants will be recorded apart from the answers. 

Thank you for your participation in the study. 


<button type="button" onClick="start()">Start</button>
