#pairs {
    width: 1024px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.pair {
    position: relative;
    padding: 5px;
    background: #FFFFFF;
    clear: left;
    display: none;
    overflow: auto;
    min-height: 450px;
}

.image {
    width: 50%;
    vertical-align: bottom;
    display: none;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
}

.image img {
    max-width: 95%;
}

.pair.active {
    display: block;
}

.pair.active .image {
    display: inline;
}

.image:hover {
    background: #eee;
}

#counter {
    visibility: hidden;
    left: 0px;
    width: 100%;
    background: #FFFFFF;
    font-size: 40px;
    text-align: center;
}

.heading {
         background: #FFFFFF;
         padding-bottom: 1px;
    width: 1024px;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 }

.introtext {
  text-align: center;
}

#firstheading{
        display:block;
}

#mainheading{
        display:none;
}

h1 {
    text-align: center;
}

object {
    transition: 0.5s width 0.5s, height 0.5s;
    background: #eee;
}

body {
        background: #FFFFFF;
}
